.centered-form{
  margin-top: 60px;
}
.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
  margin-bottom: 10px;
}
.form-signin .checkbox
{
  font-weight: normal;
}
.form-signin .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus
{
  z-index: 2;
}
.form-signin input[type="text"]
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#div-login{
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.account-wall
{
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
}
.login-title
{
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.carddemoBasicUsage .card-media {
  background-color: #999999;
}
#like{
  font-size: 10px;
  font-weight: bold;

}
#unlike{
  font-size: 10px;
  font-weight: bold;
}
. md-button .md-ink-ripple{

}
.need-help
{
  margin-top: 10px;
}
.new-account
{
  display: block;
  margin-top: 10px;
}
#buscadorli{
  height: 100%;
}
#buscadordiv{
  height:100%;
}
#buscador{
  height: 100%;
}
.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }

.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }

#cards{
  float: left;
}
.inputdemoErrorsAdvanced {
  /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
  /* Setup animations similar to the ng-messages */ }
.inputdemoErrorsAdvanced .hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey; }
.inputdemoErrorsAdvanced .hint.ng-hide,
.inputdemoErrorsAdvanced .hint.ng-enter,
.inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0; }
.inputdemoErrorsAdvanced .hint.ng-leave,
.inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1; }
.form-signin {
  margin: -40px auto;
  max-width: 440px;
}
.need-help {
  margin-top: 20px;
  margin-bottom:10px;
}
.carddemoBasicUsage .card-media {
  background-color: #999999; }
/*.account-wall {*/
  /*margin-top: 20px;*/
  /*padding: 20px 0px 20px 0px;*/
  /*background-color: #f7f7f7;*/
/*}*/
/*md-input-container {*/
  /*margin: 26px 0;*/
  /*height: 33px;*/
/*}*/
/*md-input-container .md-input {*/
  /*height: 18px;*/
/*}*/
